@CHARSET "UTF-8";
#container {
	background-color: rgba(244, 234, 231, 0.8);
	margin-top: 25px;;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    translate(0px, 51px)

    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.inline_labels label
{
    display: inline-block;
}
.check-0 {      
   background-image: url('../img/0.png'); 
}
.check-1 {      
   background-image: url('../img/1.png'); 
}
.check-2 {      
   background-image: url('../img/2.png'); 
}
.check-x{      
   background-image: url('../img/x.png'); 
}
.check-m{      
   background-image: url('../img/m.png'); 
}

.check-0:checked {      
   background-image: url('../img/0-pressed.png'); 
}
.check-1:checked {      
   background-image: url('../img/1-pressed.png'); 
}
.check-2:checked {      
   background-image: url('../img/2-pressed.png'); 
}
.check-x:checked{      
   background-image: url('../img/x-pressed.png'); 
}
.check-m:checked{      
   background-image: url('../img/m-pressed.png'); 
}


.check-1, .check-2, .check-x {  
   background-repeat: no-repeat;
   width: 18px;
   height: 18px;
   margin: 0 !important;
   padding: 0;
   border: 1px solid #f0240f !important;
   -moz-appearance: none; /* not working */
   -webkit-appearance: none;
   -ms-appearance: none; /*not working */
   -o-appearance: none;
   appearance: none;
}